_build/*

*.code-workspace
blog/articles/kubernetes-from-scratch/kubernetesh/
blog/articles/kubernetes-from-scratch/kubernetesh

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# Virtual environment
venv/
Include/
Lib/
Scripts/
pyvenv.cfg
.venv/

# Log files
*.log

# Cache files
__pycache__/

# Build artifacts
build/
dist/

# IDE files
.vscode/
.idea/

# Compiled documentation
_build/

# Other
.DS_Store
Thumbs.db
